<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply Now-Tora Industries</title>
    <link rel="stylesheet" href="../static/media.css">
</head>

<body>
 
    <nav id="computer">

        <div class="container">
            <ul>
            <li><img src="../static/random_logo_by_criticl_d7eqdvw-pre.png" alt="Logo" class="logo"></li>
            <li><a href="/"> Home</li> </a> 
            <li><a href="/"> About Us</li> </a>
            <li>Contact Us </li>
            <li><a  href="/ApplyNow">Apply Now</a> </li>
            <li id="login"> Login/Register </li>
        </ul></div>
</nav>
<br>
<div>
<form action="/ApplyNowForm" method="post" id="ApplyNowForm">
    <input type="name" placeholder="Your Name" >   
</form>
</div>    
</body>
</html>